@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "Add Task";
}

<!--Add model when ready  -->
<!---->
<!--<h1>New Task? Add below.</h1>


<div>
    <form>-->
<!--Make sure that the asp-for names will match with the model-->
<!--<label asp-for="task">Task</label>
<input asp-for="task" />

<br />
<label asp-for="date">Due Date</label>
<input asp-for="date" />

<br />
<label asp-for="quadrant">Quadrant</label>
<select asp-for="quadrant">
    <option value="">Please select a quadrant:</option>
    <option value="1"> 1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select>

<br />
<label asp-for="category">Category</label>
<select asp-for="category">
    <option value="">Please select a category:</option>
    <option value="1"> Home</option>
    <option value="2">School</option>
    <option value="3">Work</option>
    <option value="4">Church</option>
</select>

<br />
<label asp-for="complete">Is the task completed?</label>
<select asp-for="complete">
    <option value="true">Yes</option>
    <option value="false">No</option>
</select>

<br />
<button type="submit">Add Task!</button>-->
<!--<div asp-validation-summary="All" </div> -->
<!--</form>
</div>-->
