@{
    ViewData["Title"] = "Delete";
}

@*@model FormResponses

    <h1 class="text-center">Confirm Deletion</h1>
    <h3>Are you sure you want to delete the record for @Model.Title?</h3>

    <form method="post" asp-controller="Home" asp-action="Delete">
        <a asp-controller="Home" asp-action="MoviesList" type="btn btn-primary">Cancel</a><br />
        <button type="submit">Delete</button>

        <input type="hidden" asp-for="MovieId" />
    </form>*@
