@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1> Welcome to Group 4-4: Time Management</h1>
    <h2>Created By: Madison Coffey, Matthew Mazankowski, Caleb Sieback, Jacob Gifford </h2>
</div>
